.footer-lig {
  background-color: black;
}

h1.ligero-copyright {
  color: white;
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 20px;
  text-align: center;
}

p.ligero-copyright {
  color: white;
  font-family: "ITC Avant Garde Gothic Std";
  font-size: 20px;
  text-align: center;
}
